<div>
  <div class="table-responsive w-100">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <div class="d-flex align-items-center justify-content-start">
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </th>
          <th scope="col">GAME NAME</th>
          <th scope="col">GAME TYPE</th>
          <th scope="col">PROVIDER</th>
          <th scope="col">STATUS</th>
          <th scope="col">ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Game name 1</td>
          <td>Slots</td>
          <td>Provider 1</td>
          <td>
            <button type="button" class="btn btn-primary">ACTIVE</button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-info" (click)="showConfigModal(game)">
              <div class="d-flex justify-content-center align-items-center">
                <p class="mb-0">ADMIN</p>
                <i class="fa-solid fa-arrow-right"></i>
              </div>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Game name 2</td>
          <td>Slots</td>
          <td>Provider 2</td>
          <td>
            <button type="button" class="btn btn-danger">INACTIVE</button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-info" (click)="showConfigModal(game)">
              <div class="d-flex justify-content-center align-items-center">
                <p class="mb-0">ADMIN</p>
                <i class="fa-solid fa-arrow-right"></i>
              </div>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modal size="lg" #configModal>
  <app-agent-games-config [data]="game"></app-agent-games-config>
</app-modal>