<div class="table-container table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Lastname</th>
        <th scope="col">email</th>
        <th scope="col">Created</th>
        <th scope="col">Updated</th>
        <th class="text-center" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (item of userList; track item.id) {
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.lastname}}</td>
        <td>{{item.email}}</td>
        <td>{{item.createdAt | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td>{{item.updatedAt | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td>
          <div class="d-flex justify-content-evenly align-items-center">
            <button type="button" (click)="showDetail(item, formModal)" class="btn btn-secondary">
              <i class="fa-solid fa-eye white"
              ></i>
            </button>
            <button type="button" (click)="deleteUser(item)" class="btn btn-danger">
              <i class="fa-solid fa-trash white"
              ></i>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<app-modal size="lg" #formModal>
  <app-user-form 
  [user]="currentUser" 
  [action]="'edit'"
  [title]="'Update User'"
  >
</app-user-form>
</app-modal>