<form [formGroup]="form">
  <div>
    <h2 class="mb-0">Add Gift List</h2>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="mb-2">
        <label class="mb-1" for="name">Name*</label>
        <input id="name" formControlName="name" type="text" class="form-control">
        @if (form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)) {
          <p class="text-danger my-1 p-absolute ">Name is required</p>
        }
      </div>
    </div>
    <div class="col-4">
      <div class="mb-2">
        <label class="mb-1" for="description">Description*</label>
        <input id="description" formControlName="description" type="text" class="form-control">
        @if (form.controls['description'].invalid && (form.controls['description'].dirty || form.controls['description'].touched)) {
          <p class="text-danger my-1 p-absolute ">Description is required</p>
        }
      </div>
    </div>
    <div class="col-4 d-flex align-items-center mt-3">
        <div class="">
          <button (click)="callSaveMethod.emit(form.value)"  [disabled]="form.invalid" class="btn btn-primary" type="button">Save</button>
        </div>
    </div>
  </div>
</form>