@defer {
  <div class="row p-4">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Gifts</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-gift-list-form
          [form]="form"
          (callSaveMethod)="save($event)"
        />
      </div>
    </div>
    <div class="col-12">
      <app-gift-list
        [giftsList]="giftListService.giftsLists$()"
        (callEditMethod)="form.patchValue($event)"
        (callDeleteMethod)="delete($event)"
      /> 
    </div>
    @if(giftListService.giftsLists$().length) {
      <app-pagination
        [service]="giftListService"
        [customCall]="false"
      />
    }
  </div>
} @loading (minimum 1.5s) {
  <app-loader/>
}