<p>Teams</p>

@if (areActionsAvailable) {
  <app-sport-team-form
    [form]="teamForm"
    (callSaveMethod)="saveTeam($event)"
  />

}
<app-sport-team-list
  [pTeamList]="teamService.teams$()"
  (callUpdateModalMethod)="openEditTeamModal($event)"
  (callDeleteMethod)="deleteTeam($event)"
/>
<app-pagination
  [service]="teamService"
/>


<ng-template #editTeamModal>
  <app-modal
    [hideFooter]="true"
  >
    <div>
      <app-sport-team-form
        [form]="teamForm"
        (callUpdateMethod)="updateTeam($event)"
      />
    </div>
  </app-modal>
</ng-template>